<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/pico.css">
    <link rel="stylesheet" href="static/style.css">
    <title>PRUEBA</title>
</head>
<body>

    <header class="titulo">
        <h1>myCRYPTO</h1>
    </header>
    
    <h1>probando</h1>

    <div class="grid">
        <div>
            <a class="disabled" href="/">INICIO</a>
        </div>
        <div>
            <a href="/compra">COMPRA</a>
        </div>
        <div>
            <a href="/status">STATUS</a>
        </div>
        <div></div>
        <div></div>
        <div></div>
    </div>

    <p>

    </p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita libero amet ipsam quas fugiat quo sed quae sint distinctio illum dicta, molestiae recusandae aperiam? Distinctio dolor animi aliquam numquam quas.</p>
    <ul>
        <li class="disabled"><a href="/">INICIO</a></li>
        <li ><a href="/">COMPRA</a></li>
        <li ><a href="/">STATUS</a></li>
    </ul>

    <div class="grid">          
        <div>                
            <input type="submit" value="Comprar" disabled="">
        </div>
    </div>

</body>
</html>

  