<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/pico.css">
    <link rel="stylesheet" href="static/style.css">
    <title>STATUS</title>
</head>
<body>
    <header class="titulo">
        <h1>myCRYPTO</h1>
    </header>

    <main class="container">

        <div class="grid">
            <div>
                <a href="/">INICIO</a>
            </div>
            <div>
                <a href="/compra">COMPRA</a>
            </div>
            <div>
                <a class="disabled" href="/status" id="menu">STATUS</a>
            </div>
            <div></div>
            <div></div>
            <div></div>
        </div>

        <h1></h1>    

        <table>
            
            {% if error %}
            
            <p>{{error}}</p>


            {% else %}   

            {% with msgs = get_flashed_messages() %}
            {% if msgs %}

            <div class="container" id="msg-error">
                {% for msg in msgs %}
                    <p id="mensaje">{{ msg }}</p>
                {% endfor %}
            </div>

            {% endif %}
            {% endwith %}


    

            {% if resumen %}
            <tr id="cabecera">
                <th id="campos"><strong>Moneda</strong></th>
                <th id="campos"><strong>Cantidad</strong></th>            
                <th id="campos"><strong>Valor en euros</strong></th>
            </tr>
                {% for pares in resumen %}
                {% if pares[1] %}
                <tr>
                    <td>{{ pares[0] }}</td>
                    <td>{{ pares[1] }}</td>
                    <td>{{ pares[2] }}</td>
                </tr>
                {% endif %}
                {% endfor %}

            {% else %}
            <h5>Aún no tienes posiciones en tu cartera, ve a la página de compra para comenzar a operar</h5>
                
            {% endif %}                        
        </table>

        <table>
            <tr>
                <th></th>
                <th><strong>Valor actual</strong></th>
                <th>{{ valor_act }}</th>
            </tr>
            <tr>
                <th></th>
                <th><strong>Precio de compra</strong></th>
                <th>{{ euros }}</th>
            </tr>
            {% if color == 1 %}
            <tr>
                <th></th>
                <th><strong>Resultado de la inversión</strong></th>
                <th id="verde">{{ resultado }}</th>
            </tr>
            {% elif color == 2 %}
            <tr>
                <th></th>
                <th><strong>Resultado de la inversión</strong></th>
                <th id="rojo">{{ resultado }}</th>
            </tr>
            {% else %}
            <tr>
                <th></th>
                <th><strong>Resultado de la inversión</strong></th>
                <th>{{ resultado }}</th>
            </tr>
            {% endif %}
        </table>      
      

    </main>

    <footer class="titulo">
        <p class="copy"><strong>&copy2023 - Todos los derechos reservados</strong></p>
    </footer>

    {% endif %}
    
</body>
</html>